{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id= "home">
        <div id="homeText">
            <h1 id="Hi">Hi There!</h1>
            <p id="thanks">Thank you for visiting my web!</p>
            <p id="regards">regard - Ryo Axtonlie</p>
        </div>
    </div>

    <div id="aboutMe">
        <div id="aboutMeShapeText">
                <div class="square"></div>
                <div id="aboutMeText">
                        <h1>ABOUT ME</h1>
                        <p>I'm currently studying in Universitas Indonesia
                            , as third semester college student majoring 
                            Computer Science. I've been learning about editing 
                            and want to improve my UI/UX creation skills 
                            as well, so i'm participating in Faculty of 
                            Computer Science Executive Council of Student 
                            Media Bureau.  On my daily activity, other than 
                            studying, i liked to do photograhy with phones 
                            as an amateur photographer and listening to  
                            Country or Pop music.     
                        </p>
                </div>
        </div>
        <img src="{% static 'photo/aboutMePhoto.jpg' %}" alt="">
    </div>

    <div id="skills">
        <h1>SKILLS</h1>
        <div id="skillsLine1">
            <div id="java">
                <p>Java</p>
            </div>
            <div id="html5">
                <p>HTML 5</p>
            </div>
            <div id="css">
                <p>CSS</p>
            </div>
        </div>

        <div id="skillsLine2">
            <div id="illustrator">
                <p>illustrator</p>
            </div>
            <div id="photograph">
                <p>Photograph</p>
            </div>
        </div>
    </div>

    <div id="education">
        <img src="{% static 'photo/educationPhoto.png' %}" alt="">
        <div id="eduHistory">
            <h1>EDUCATION</h1>
            <div id="currentEdu">
                <h2>Universitas Indonesia, Bachelor
                    of Computer Science
                </h2>
                <p>August 2018 - Present</p>
            </div>
            <div id="pastEdu">
                <div id="sma">
                    <h2>SMAK 2 PENABUR Jakarta</h2>
                    <p>July 2015 - May 2018</p>
                </div>
                <div id="smp">
                    <h2>SMP Santo Yoseph</h2>
                    <p>July 2012 - May 2015</p>
                </div>
                <div id="sd">
                    <h2>SD Santo Yoseph</h2>
                    <p>July 2006 - May 2012</p>
                </div>
            </div>
        </div>
    </div>

    <div id="experience">
        <div id="experienceList">
            <h1>EXPERIENCE</h1>
            <div id="orgCommit">
                <div id="organization">
                    <h2>Organization</h2>
                    <div id="bemMedia">
                        <h3>Staff of Media Bureau at BEM
                            Fasilkom UI
                        </h3>
                        <p>Creating posters for media partner
                        and PIC of Boolean quarter magazine
                        </p>
                    </div>
                    <div id="kominfo">
                        <h3>Staff of Kominfo Department at KMBUI</h3>
                        <p>Contributes for creating holiday posters</p>
                    </div>
                </div>
                <div id="committee">
                    <h2>Committee</h2>
                    <div id="sea">
                        <h3>Staff of Software Engineering Academy
                            at Compfest 11
                        </h3>
                        <p>Managing schedule and preparing Academy
                            events
                        </p>
                    </div>
                    <div id="waisak">
                        <h3>Staff of Design at Waisak KMBUI 2019</h3>
                        <p>Creating posters for Waisak KMBUI 2019 posts</p>
                    </div>
                    <div id="toefl">
                        <h3>Staff of TOEFL Test at Educare Fasilkom UI 2019</h3>
                        <p>Organizing TOEFL Test participant</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}